$primary: #FF385C;
$danger: #FF385C;

$theme-colors: (
        "primary": $primary,
        "danger": $danger,
        "secondary": #3881ff,
        "dark": #010101,
);

$rounded-border-radius: 1rem;

@import "modules/button.module";
@import "modules/card.module";
@import "~bootstrap/scss/bootstrap";

// typography
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

input {
  border-radius: 50rem !important;
}

a {
  text-decoration: none;
}

// Sizes
.vh-75 {
  height: 75vh;
}

.hover-text-primary:hover {
  color: $primary !important;
}

.rounded {
  border-radius: $rounded-border-radius !important;
}

.cursor-pointer {
  cursor: pointer !important;
}